doctype html
html
  head
    title Dance Website
    block scripts
    block style
  body
    nav#navbar
      ul
        li #[a(href="/") Home]
        li #[a(href="#instructors") Instructors]
        li #[a(href="#sponsorSection") Partners]
        li #[a(href="#pricingplan") Pricing]
        li #[a(href="#mission") Mission]
        li #[a(href="/") Contact Us]
    block content
    block foot
      